:root {
  --page-header-height: 100px;
}

section.Orders {
  display: grid;
  grid-template-rows: var(--page-header-height) 1fr;
  padding-right: var(--side-panel-width);
}

section.Orders > aside {
  bottom: 0;
  position: fixed;
  right: 0;
  top: var(--app-header-height);
  width: var(--side-panel-width);
  z-index: 10;
}

section.Orders > header {
  margin: var(--page-padding) var(--page-padding) 0;
}

section.Orders > header h2 {
  font-size: var(--font-size-xxxl);
  font-weight: 700;
  line-height: var(--line-height-sm);
  margin: 0;
}

section.Orders > .Card {
  margin: 0 var(--page-padding) var(--page-padding);
  padding: var(--page-padding);
}
