ul.OrderList {
  list-style: none;
  margin: 0;
  padding: 0;
}

ul.OrderList > li {
  align-items: center;
  border-top: var(--order-separator-border);
  border-top-color: var(--c-neutral-100);
  display: grid;
  grid-column-gap: 12px;
  grid-template-columns: minmax(140px, 1fr) minmax(auto, 320px) minmax(80px, 1fr) 120px;
  margin: var(--box-padding) 0 0;
  padding: var(--box-padding) 0 0;
}

ul.OrderList > li:first-child {
  border-top: none;
  margin-top: 0;
  padding-top: 0;
}

ul.OrderList > li > header > h4,
ul.OrderList > li > header > h5 {
  line-height: var(--line-height-sm);
}

ul.OrderList > li > header > h4 {
  margin-bottom: 4px;
}

ul.OrderList > li > header > h5 {
  font-weight: 200;
  margin: 0;
}

ul.OrderList > li > ul.items {
  align-items: center;
  display: grid;
  grid-row-gap: 4px;
  grid-template-columns: repeat(auto-fit, minmax(96px, 1fr));
  grid-template-rows: repeat(auto-fit, minmax(24px, 1fr));
  justify-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
}

ul.OrderList > li > strong.cost {
  justify-self: right;
  padding-right: 20px;
}

ul.OrderList > li > em.state {
  font-weight: 700;
  justify-self: end;
}
