:root {
  --button-icon-size: 30px;
}

button.Button {
  background: var(--c-white-alpha-400);
  border: 2px solid var(--c-primary-500);
  border-radius: var(--field-border-radius);
  box-shadow: 0 3px 7px var(--c-black-alpha-100);
  color: var(--c-primary-500);
  cursor: pointer;
  min-width: 80px;
  padding: var(--field-padding);
}

button.Button:active {
  box-shadow: none;
}

button.Button + button.Button {
  margin-left: 10px;
}

button.Button.link {
  background: none;
  border-color: transparent;
  box-shadow: none;
}

button.Button.icon.active,
button.Button.link.active {
  background: var(--c-neutral-50);
  border-color: var(--c-neutral-50);
  color: var(--c-primary-600);
}

button.Button.icon:focus,
button.Button.icon:hover,
button.Button.link:focus,
button.Button.link:hover {
  background: var(--c-primary-500);
  border-color: var(--c-primary-500);
  color: var(--c-white);
}

button.Button.icon {
  align-items: center;
  display: flex;
  border-radius: 100%;
  height: var(--button-icon-size);
  justify-content: center;
  min-width: var(--button-icon-size);
  padding: 0;
  width: var(--button-icon-size);
}

button.Button.primary {
  background: var(--c-primary-500);
}

button.Button:focus,
button.Button:hover,
button.Button.primary {
  color: var(--c-white);
}

button.Button:focus,
button.Button:hover {
  background: var(--c-primary-500);
  border-color: var(--c-primary-500);
  outline: none;
}

button.Button.primary:focus,
button.Button.primary:hover {
  background: var(--c-primary-700);
  border-color: var(--c-primary-700);
  outline: none;
}

button.Button:disabled,
button.Button:disabled:focus,
button.Button:disabled:hover {
  background: var(--c-white-alpha-400);
  border-color: var(--c-neutral-500);
  color: var(--c-neutral-700);
  cursor: not-allowed;
}

button.Button.primary:disabled {
  background: var(--c-neutral-500);
  color: var(--c-white);
}
