article.OrderMenu {
  padding: 0 var(--page-padding) var(--page-padding);
}

article.OrderMenu > ul {
  display: grid;
  grid-gap: var(--box-padding);
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  grid-template-rows: repeat(auto-fill, minmax(max-content, 240px));
  height: 100%;
  list-style: none;
  margin: 0;
  padding: 0;
}

article.OrderMenu > ul > li.Card {
  display: grid;
  grid-template: 158px auto / 1fr;
  min-height: var(--menu-card-size);
}

article.OrderMenu > ul > li.Card > header {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 88px 70px;
}

article.OrderMenu > ul > li.Card > header > h3 {
  align-items: center;
  background: var(--c-neutral-200);
  color: var(--c-black);
  display: flex;
  font-size: var(--font-size-lg);
  justify-content: center;
  line-height: var(--line-height-sm);
  margin: 0;
  padding: var(--box-padding) 12px;
}

article.OrderMenu > ul > li.Card > header > section {
  display: grid;
  grid-template-columns: 1fr minmax(132px, 1fr);
  padding: var(--field-padding-even);
}

article.OrderMenu > ul > li.Card > header > section > span.price {
  align-items: center;
  display: flex;
  font-size: var(--font-size-lg);
  font-weight: 600;
  justify-content: center;
  line-height: var(--line-height-sm);
}

article.OrderMenu > ul > li.sold-out.Card > header > section > span.price {
  color: var(--c-neutral-500);
  font-weight: 300;
  text-decoration: line-through;
}

article.OrderMenu > ul > li.Card > section {
  color: var(--c-neutral-600);
  padding: 0 var(--field-padding-even) var(--box-padding);
}

article.OrderMenu > ul > li.Card > section > h4 {
  border-top: 1px solid var(--c-neutral-100);
  font-weight: 500;
  margin: 0;
  padding: 12px;
  text-align: center;
}

article.OrderMenu > ul > li.Card > section > ul.ingredients {
  display: grid;
  grid-gap: 4px 12px;
  grid-template-columns: repeat(auto-fit, minmax(80px, 1fr));
  list-style: none;
  margin: 0 var(--field-padding-even);
  padding: 0;
}

article.OrderMenu > ul > li.Card > section > ul.ingredients > li {
  font-weight: 200;
  margin-left: 10%;
}

article.OrderMenu > ul > li.Card > section > ul.ingredients > li > span {
  margin-left: 8px;
}

aside.OrderDetails {
  position: sticky;
}
