.Card {
  background: var(--c-white);
  border-radius: var(--box-border-radius);
  box-shadow: 0 4px 8px var(--c-black-alpha-50);
  overflow: hidden;
}

.Card.padding-lg {
  padding: var(--page-padding);
}

.Card.padding-md {
  padding: var(--box-padding);
}

.Card.padding-none {
  padding: 0;
}

.Card.padding-sm {
  padding: var(--box-short-padding);
}
